div.galery-main{
	position: absolute;
	margin: 55px 95px;
	width: 1160px;
}

div.galery-main>div>span>h1 {
	text-transform: uppercase;
	color: #00CCCC;
	font-size: 2em;
}

div.galery-main>div {
	width: 270px;
	float: left;
}

div.galery-main>div>span.text>select {
	width: 155px;
	margin: 15px 0px;
	font-size: 1em;
}

div.galery-main>div>span.text>p {
	width: 230px;
}

/*slider*/

div.galery-main>div>div.container>div#slides {
	width: 900px;
}