.userActual{
	color: #777;
	padding-bottom: 15px;
    padding-top: 15px;
	display: block;
}

.topSelects{	
	margin-bottom: 30px;
}

iinput[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}